html {
    width: 100%;
    font-size: 62.5%;
    font-family: 'PT Sans';
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    /*height: 165vw;*/
    margin: 0;
    background: #F7F7FF;
}

ul.menu-items {
    list-style: none;
}

li + li {
    border-left: .3rem solid #070600;
}

header {
    top: 0;
    width: 100%;
    height: 20rem;
    background: #252627;
    position: relative;
    float: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15rem;
    height: 15rem;
    margin: 3rem;
    float:left;
}

.name{
    font-size: 2.2rem;
    color: #F7F7FF;
    float: left;
}

.menu {
    width: 100%;
    height: 8rem;
    background: #CE9A00;
    float: left;
    font-size: 2.2rem;
    position: relative;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: .1rem;
    padding: 0 2rem;
}

.main {
    height: 100rem;
    float: left;
}

footer {
    width: 100%;
    height: 15rem;
    background: #070600;
    position: relative;
    float: left;
}