@font-face {
    font-family: "PT Sans";
    src: url("https://fonts.googleapis.com/css?family=PT+Sans");
}

html {
    width: 100%;
    font-size: 62.5%;
    font-family: "PT Sans", serif;
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    min-height: 100vh;
    /*height: 165vw;*/
    margin: 0;
    background: #F7F7FF;
    display: flex;
    flex-direction: column;
}

.mid {
    width: 100rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
}

ul.menu-items {
    list-style: none;
}


li + li {
    border-left: .3rem solid #070600;
}

header {
    top: 0;
    width: 100%;
    height: 20rem;
    background: #252627;
    position: relative;
    float: left;
    border-bottom: #CE9A00 solid;
    color: #F7F7FF;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 15rem;
    height: 15rem;
    margin: 3rem 0;

    -webkit-filter: drop-shadow(.3rem .3rem .2rem rgba(0, 0, 0, .7));
    filter: drop-shadow(.3rem .3rem .2rem rgba(0, 0, 0, .7));
}

.name {
    margin: .3rem;
    font-size: 4rem;
    text-align: left;
}

.logo, .name-slogan {
    display: inline-block;
    vertical-align: middle;
}

.slogan {
    margin: .3rem;
    font-size: 1.4rem;
    display: block;
    text-align: center;
}

.phones {
    margin: 3rem;
}

.phone {
    font-size: 4rem;
}

.feedback {
    font-size: 1.4rem;
    text-align: right;
    margin: 0 1rem;
    width: 9.5rem;
}

#hidden-menu {
    display: none;
}

.menu {
    width: 100%;
    height: 8rem;
    background: #252627;
    color: #F7F7FF;
    float: left;
    font-size: 2.2rem;
    position: relative;

    -webkit-box-shadow: inset 0 .7rem 1rem black;
    -moz-box-shadow: inset 0 .7rem 1rem black;
    box-shadow: inset 0 .7rem 1rem black;
}

.menu-items {
    display: flex;
    justify-content: center;
    vertical-align: middle !important;
}

.menu-item, #hidden-menu > span {
    padding: 1rem .7rem;
    position: relative;
}

.menu-item:before, #hidden-menu > span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ea3a5a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu-items > li:hover .material-icons,
#hidden-menu:hover .material-icons {
    transition: color .3s;
    color: #ea3a5a;
}

.menu-items > li:hover .menu-item:before,
#hidden-menu:hover .menu-item:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.main {
    flex-grow: 2;
}

footer {
    width: 100%;
    min-height: 15rem;
    color: #F7F7FF;
    font-size: 1.4rem;
    padding: 3rem 0;
    border-top: .3rem solid #ea3a5a;

    background: #070600;
    flex-grow: 1;

    display: flex;
    justify-content: space-evenly;
}

.footer-company {
    text-align: left;
}

.footer-menu {
    text-align: left;
}

.underlined {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #ea3a5a;
}

.underlined:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #ea3a5a;
}

.footer-company > p, .footer-menu > li, .developer-info > p {
    margin: 1rem;
}

.footer-menu {
    list-style: none;
}

.path {
    margin-left: 2rem;
    font-size: 1.4rem;
}

.path-element {
    background: #CE9A00;
    height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    float: left;
    position: relative;
    text-align: center;
    margin: 1rem 1.5rem;
}

.path-element::before {
    content: '';
    border-right: 0;
    border-left: 2rem solid transparent;
    border-top: 2.02679rem solid #CE9A00;
    border-bottom: 2.02679rem solid #CE9A00;
    position: absolute;
    right: 100%;
    top: 0;
}

.path-element::after {
    content: '';
    border: 2.02679rem solid transparent;
    border-left: 2.02679rem solid #CE9A00;
    display: block;
    width: 0;
    height: 0;
    left: 100%;
    bottom: 0;
    position: absolute;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-block {
    font-size: 1.4rem;
    border: 0;
    width: 30rem;
    background: #eee;
}

.left-block > ul {
    list-style: none;
}

.left-block > ul > li {
    border: 0;
}



.sub-menu {
    list-style: none;
}

.sub-menu > li {
    border: 0;
}


.center-block {
    width: 90rem;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 2rem;
}

.product {
    width: 20rem;
    height: 30rem;
    padding: .5rem;
    margin: 1.5rem;
    text-align: center;
    background: #CE9A00;
}

.footer {
    width: 60%;
    border-top: .3rem solid #ea3a5a;
    font-size: 1.4rem;
    text-indent: 2rem;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self:center ;
    justify-self: center;
    shrink:1;

    margin-left: 10%;
}

.footer > div {
    width: 40%;
}

.material-icons {
    margin-left: 1rem;
}

@media screen and (max-width: 1000px) {

    .main, .mid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }


    .left-block {
        order: 2;
        align-self: center;
    }

    .center-block {
        width: 100%;
        order: 1;
        align-self: center;
    }

    .footer {
        width: 100%;
        order: 3;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer>div{
        width: 80%;
        padding: 0 10%;
        justify-self: center;
        align-self: center;
    }

    #hidden-menu {
        display: block;
        position: relative;
        margin-top: 2rem;
    }

    .menu-items {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .phones {
        display: none;
    }


}